/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

html,
body {
  @apply antialiased;
}
